{% extends 'calcapp/base.html' %}
{% load staticfiles %}


{% block content %}
    {% for post in posts %}
        <div class="post">
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{post}}</a></h3>

            <div class="text">
                {{ post.param1 }}
            </div>

            <div class="text">
                {{ post.param2 }}
            </div>

            <div class="text">
                {{ post.param3 }}
            </div>

            <div class="text">
                {{ post.epsilon }}
            </div>

            <div class="text">
                {{ post.nums}}
            </div>
        </div>
    {% endfor %}
{% endblock %}