<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
   <div>
    <h3><a href="/">Калькулятор нелінійних рівнянь</a></h3>
</div>

{% for post in posts %}
    <div>
        <p>parameter a: {{ post.param1 }}</p>
        <p>parameter b: {{ post.param2 }}</p>
        <p>parameter c: {{ post.param3 }}</p>
        <p>Accuracy: {{ post.epsilon }}</p>
        <img src="/static/img/plot.png">
             {{ top.main(f, post.param1, post.param2, post.param3, post.nums, post.eps)}}
    </div>
{% endfor %}
    </body>
</html>