{% extends 'calcapp/base.html' %}
{% load static %}
{% block content %}
    <div class="post">
        <div class="date">
            <p> {{ post }}</p>
        </div>
        <div class="date">
            <p>{{ result1 }}</p>
        </div>
          <div class="date">
            <p>{{ result2 }}</p>
        </div>
        <img src="{% static 'img/plot.png' %}">
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
{% endblock %}